Repository prefix-dev/pixi, pull requests merged in 2024-10, with the labels that each got.

#2176 fix: also remove binaries of pruned environments
  src/global/common.rs
  src/global/project/mod.rs
Labels: :lady_beetle: bug, area:global

#2179 feat: add `global uninstall`
  src/cli/global/mod.rs
  src/cli/global/uninstall.rs
  src/global/project/manifest.rs
  tests/integration/test_data/update_channel.nu
  tests/integration/test_global.py
Labels: area:global, ci:free

#2175 feat: always expose the executable with the name of the dependency
  pixi.toml
  src/cli/global/install.rs
  src/global/project/manifest.rs
  tests/integration/common.py
  tests/integration/conftest.py
  tests/integration/test_data/non_self_expose_channel/output/linux-64/jupyter-0.1.0-hb0f4dca_0.conda
  tests/integration/test_data/non_self_expose_channel/output/linux-64/jupyter-core-0.1.0-hb0f4dca_0.conda
  tests/integration/test_data/non_self_expose_channel/output/linux-64/repodata.json
  tests/integration/test_data/non_self_expose_channel/output/noarch/repodata.json
  tests/integration/test_data/non_self_expose_channel/output/osx-64/jupyter-0.1.0-h0dc7051_0.conda
  tests/integration/test_data/non_self_expose_channel/output/osx-64/jupyter-core-0.1.0-h0dc7051_0.conda
  tests/integration/test_data/non_self_expose_channel/output/osx-64/repodata.json
  tests/integration/test_data/non_self_expose_channel/output/osx-arm64/jupyter-0.1.0-h60d57d3_0.conda
  tests/integration/test_data/non_self_expose_channel/output/osx-arm64/jupyter-core-0.1.0-h60d57d3_0.conda
  tests/integration/test_data/non_self_expose_channel/output/osx-arm64/repodata.json
  tests/integration/test_data/non_self_expose_channel/output/win-64/jupyter-0.1.0-h9490d1a_0.conda
  tests/integration/test_data/non_self_expose_channel/output/win-64/jupyter-core-0.1.0-h9490d1a_0.conda
  tests/integration/test_data/non_self_expose_channel/output/win-64/repodata.json
  tests/integration/test_data/non_self_expose_channel/recipe.yaml
  tests/integration/test_global.py
Labels: area:global, ci:free

#2183 feat: add `pixi global update`
  crates/pixi_utils/src/executable_utils.rs
  src/cli/global/add.rs
  src/cli/global/install.rs
  src/cli/global/list.rs
  src/cli/global/mod.rs
  src/cli/global/update.rs
  src/global/common.rs
  src/global/mod.rs
  src/global/project/environment.rs
  src/global/project/manifest.rs
  src/global/project/mod.rs
  src/global/project/parsed_manifest.rs
  src/prefix.rs
  tests/integration/common.py
  tests/integration/conftest.py
  tests/integration/test_data/global_update_channel_1/output/linux-64/package-0.1.0-hb0f4dca_0.conda
  tests/integration/test_data/global_update_channel_1/output/linux-64/package-0.2.0-hb0f4dca_0.conda
  tests/integration/test_data/global_update_channel_1/output/linux-64/package2-0.1.0-hb0f4dca_0.conda
  tests/integration/test_data/global_update_channel_1/output/linux-64/package2-0.2.0-hb0f4dca_0.conda
  tests/integration/test_data/global_update_channel_1/output/linux-64/repodata.json
  tests/integration/test_data/global_update_channel_1/output/noarch/repodata.json
  tests/integration/test_data/global_update_channel_1/output/osx-64/package-0.1.0-h0dc7051_0.conda
  tests/integration/test_data/global_update_channel_1/output/osx-64/package-0.2.0-h0dc7051_0.conda
  tests/integration/test_data/global_update_channel_1/output/osx-64/package2-0.1.0-h0dc7051_0.conda
  tests/integration/test_data/global_update_channel_1/output/osx-64/package2-0.2.0-h0dc7051_0.conda
  tests/integration/test_data/global_update_channel_1/output/osx-64/repodata.json
  tests/integration/test_data/global_update_channel_1/output/osx-arm64/package-0.1.0-h60d57d3_0.conda
  tests/integration/test_data/global_update_channel_1/output/osx-arm64/package-0.2.0-h60d57d3_0.conda
  tests/integration/test_data/global_update_channel_1/output/osx-arm64/package2-0.1.0-h60d57d3_0.conda
  tests/integration/test_data/global_update_channel_1/output/osx-arm64/package2-0.2.0-h60d57d3_0.conda
  tests/integration/test_data/global_update_channel_1/output/osx-arm64/repodata.json
  tests/integration/test_data/global_update_channel_1/output/win-64/package-0.1.0-h9490d1a_0.conda
  tests/integration/test_data/global_update_channel_1/output/win-64/package-0.2.0-h9490d1a_0.conda
  tests/integration/test_data/global_update_channel_1/output/win-64/package2-0.1.0-h9490d1a_0.conda
  tests/integration/test_data/global_update_channel_1/output/win-64/package2-0.2.0-h9490d1a_0.conda
  tests/integration/test_data/global_update_channel_1/output/win-64/repodata.json
  tests/integration/test_data/global_update_channel_1/recipe.yaml
  tests/integration/test_data/update_channel.nu
  tests/integration/test_global.py
Labels: ci:free

#2215 fix: channels creation on migrate
  src/global/common.rs
  src/global/project/mod.rs
  src/global/project/parsed_manifest.rs
  tests/integration/test_data/dummy_channel_1/output/linux-64/dummy-a-0.1.0-hb0f4dca_0.conda
  tests/integration/test_data/dummy_channel_1/output/linux-64/dummy-b-0.1.0-hb0f4dca_0.conda
  tests/integration/test_data/dummy_channel_1/output/linux-64/dummy-c-0.1.0-hb0f4dca_0.conda
  tests/integration/test_data/dummy_channel_1/output/linux-64/dummy-d-0.1.0-hb0f4dca_0.conda
  tests/integration/test_data/dummy_channel_1/output/linux-64/repodata.json
  tests/integration/test_data/dummy_channel_1/output/osx-64/dummy-a-0.1.0-h0dc7051_0.conda
  tests/integration/test_data/dummy_channel_1/output/osx-64/dummy-b-0.1.0-h0dc7051_0.conda
  tests/integration/test_data/dummy_channel_1/output/osx-64/dummy-c-0.1.0-h0dc7051_0.conda
  tests/integration/test_data/dummy_channel_1/output/osx-64/dummy-d-0.1.0-h0dc7051_0.conda
  tests/integration/test_data/dummy_channel_1/output/osx-64/repodata.json
  tests/integration/test_data/dummy_channel_1/output/osx-arm64/dummy-a-0.1.0-h60d57d3_0.conda
  tests/integration/test_data/dummy_channel_1/output/osx-arm64/dummy-b-0.1.0-h60d57d3_0.conda
  tests/integration/test_data/dummy_channel_1/output/osx-arm64/dummy-c-0.1.0-h60d57d3_0.conda
  tests/integration/test_data/dummy_channel_1/output/osx-arm64/dummy-d-0.1.0-h60d57d3_0.conda
  tests/integration/test_data/dummy_channel_1/output/osx-arm64/repodata.json
  tests/integration/test_data/dummy_channel_1/output/win-64/dummy-a-0.1.0-h9490d1a_0.conda
  tests/integration/test_data/dummy_channel_1/output/win-64/dummy-b-0.1.0-h9490d1a_0.conda
  tests/integration/test_data/dummy_channel_1/output/win-64/dummy-c-0.1.0-h9490d1a_0.conda
  tests/integration/test_data/dummy_channel_1/output/win-64/dummy-d-0.1.0-h9490d1a_0.conda
  tests/integration/test_data/dummy_channel_1/output/win-64/repodata.json
  tests/integration/test_data/dummy_channel_1/recipe.yaml
  tests/integration/test_global.py
Labels: area:global

#2233 chore: add resolve_path method
  crates/pixi_spec/src/path.rs
Labels: area:build, ci:free

#2202 feat: improve sync reporting
  src/cli/global/add.rs
  src/cli/global/expose.rs
  src/cli/global/install.rs
  src/cli/global/list.rs
  src/cli/global/mod.rs
  src/cli/global/sync.rs
  src/cli/global/uninstall.rs
  src/cli/global/update.rs
  src/global/common.rs
  src/global/install.rs
  src/global/mod.rs
  src/global/project/environment.rs
  src/global/project/manifest.rs
  src/global/project/mod.rs
  tests/integration/test_global.py
Labels: area:global

#2229 fix: don't expect uninstall to work without errors
  src/install_pypi.rs
Labels: ci:free

#2246 fix: only uninstall single specified environments, only cleanup on sync
  src/cli/global/uninstall.rs
  src/global/project/mod.rs
  tests/integration/test_global.py
Labels: area:global

#2219 feat: add `pixi global edit`
  src/cli/global/edit.rs
  src/cli/global/mod.rs
  src/global/project/mod.rs
Labels: area:global

#2118 feat: do not re-install if source does not change
  crates/pixi_glob/src/glob_mtime.rs
  crates/pixi_record/src/lib.rs
  crates/pixi_record/src/pinned_source.rs
  src/build/cache/build_cache.rs
  src/build/cache/mod.rs
  src/build/cache/source_metadata_cache.rs
  src/build/mod.rs
  src/cli/build.rs
  src/environment.rs
  src/lib.rs
  src/lock_file/package_identifier.rs
  src/utils.rs
Labels: area:build

#2235 feat: add build section
  Cargo.lock
  crates/pixi_build_frontend/Cargo.toml
  crates/pixi_build_frontend/src/build_frontend.rs
  crates/pixi_build_frontend/src/lib.rs
  crates/pixi_build_frontend/src/main.rs
  crates/pixi_build_frontend/src/protocols/error.rs
  crates/pixi_build_frontend/src/protocols/pixi/mod.rs
  crates/pixi_build_frontend/src/tool/cache.rs
  crates/pixi_build_frontend/src/tool/mod.rs
  crates/pixi_build_frontend/src/tool/spec.rs
  crates/pixi_build_frontend/tests/basic/pixi.toml
  crates/pixi_manifest/src/build.rs
  crates/pixi_manifest/src/lib.rs
  crates/pixi_manifest/src/manifests/manifest.rs
  crates/pixi_manifest/src/parsed_manifest.rs
  crates/pixi_manifest/src/snapshots/pixi_manifest__parsed_manifest__tests__build_invalid_matchspec.snap
  crates/pixi_manifest/src/snapshots/pixi_manifest__parsed_manifest__tests__build_section_deserialization.snap
  crates/pixi_manifest/src/snapshots/pixi_manifest__parsed_manifest__tests__invalid_key.snap
  crates/pixi_manifest/src/validation.rs
  examples/cpp-sdl/CMakeLists.txt
  examples/cpp-sdl/pixi.lock
  examples/cpp-sdl/pixi.toml
  schema/examples/valid/full.toml
  schema/model.py
  schema/schema.json
  src/build/mod.rs
  src/cli/build.rs
  src/lock_file/satisfiability.rs
Labels: area:build

#2169 docs: first iteration on the documentation of the global feature
  docs/basic_usage.md
  docs/features/global_tools.md
  docs/reference/cli.md
  mkdocs.yml
  src/prefix.rs
Labels: :book: documentation, area:global

#2226 feat: `pixi global remove`
  src/cli/global/remove.rs
  src/global/common.rs
  src/global/project/environment.rs
  src/global/project/manifest.rs
  src/global/project/mod.rs
  src/global/project/snapshots/pixi__global__project__manifest__tests__remove_dependency.snap
  tests/integration/test_global.py
Labels: area:global

#2255 feat: don't combine build, host, and run when there is a build section
  crates/pixi_manifest/src/feature.rs
  crates/pixi_manifest/src/features_ext.rs
  crates/pixi_manifest/src/has_environment_dependencies.rs
  crates/pixi_manifest/src/lib.rs
  crates/pixi_manifest/src/pyproject.rs
  crates/pixi_manifest/src/target.rs
  src/cli/info.rs
  src/cli/list.rs
  src/cli/project/export/conda_environment.rs
  src/cli/tree.rs
  src/cli/update.rs
  src/lock_file/satisfiability.rs
  src/lock_file/update.rs
  src/project/environment.rs
  src/project/grouped_environment.rs
  src/project/mod.rs
  src/project/snapshots/pixi__project__tests__dependency_set_with_build_section.snap
  src/project/solve_group.rs
  tests/add_tests.rs
  tests/project_tests.rs
Labels: area:build

#2264 feat: adds a number of diagnostics
  Cargo.lock
  crates/pixi_build_frontend/Cargo.toml
  crates/pixi_build_frontend/src/build_frontend.rs
  crates/pixi_build_frontend/src/jsonrpc/mod.rs
  crates/pixi_build_frontend/src/jsonrpc/stdio.rs
  crates/pixi_build_frontend/src/lib.rs
  crates/pixi_build_frontend/src/protocol.rs
  crates/pixi_build_frontend/src/protocol_builder.rs
  crates/pixi_build_frontend/src/protocols/conda_build/mod.rs
  crates/pixi_build_frontend/src/protocols/conda_build/protocol.rs
  crates/pixi_build_frontend/src/protocols/pixi/mod.rs
  crates/pixi_build_frontend/src/protocols/pixi/protocol.rs
  crates/pixi_build_frontend/src/tool/cache.rs
  crates/pixi_build_frontend/src/tool/mod.rs
  crates/pixi_build_frontend/src/tool/spec.rs
  crates/pixi_build_frontend/tests/diagnostics.rs
  crates/pixi_build_frontend/tests/snapshots/diagnostics__invalid_backend.snap
  crates/pixi_build_frontend/tests/snapshots/diagnostics__invalid_manifest.snap
  crates/pixi_build_frontend/tests/snapshots/diagnostics__missing_backend.snap
  crates/pixi_build_frontend/tests/snapshots/diagnostics__non_existing_discovery.snap
  crates/pixi_build_frontend/tests/snapshots/diagnostics__source_dir_is_empty.snap
  crates/pixi_build_frontend/tests/snapshots/diagnostics__source_dir_is_file.snap
  src/build/mod.rs
  src/cli/build.rs
Labels: area:build

#2268 feat: support for incremental compilation
  Cargo.lock
  crates/pixi_build_frontend/src/protocol.rs
  crates/pixi_build_frontend/src/protocols/conda_build/protocol.rs
  crates/pixi_build_frontend/src/protocols/pixi/protocol.rs
  crates/pixi_build_types/src/procedures/conda_build.rs
  crates/pixi_build_types/src/procedures/conda_metadata.rs
  src/build/cache/build_cache.rs
  src/build/cache/mod.rs
  src/build/mod.rs
  src/cli/build.rs
  src/lock_file/update.rs
Labels: area:build

#2276 feat: add progress reporter for build
  crates/pixi_build_frontend/src/lib.rs
  crates/pixi_build_frontend/src/protocol.rs
  crates/pixi_build_frontend/src/protocols/pixi/mod.rs
  crates/pixi_build_frontend/src/protocols/pixi/protocol.rs
  crates/pixi_build_frontend/src/reporters.rs
  crates/pixi_build_types/src/procedures/conda_build.rs
  src/build/mod.rs
  src/cli/build.rs
  src/environment.rs
  src/lock_file/update.rs
Labels: area:build

#2295 fix: add vpkgs to the build config
  src/cli/build.rs
Labels: area:build
