Repository prefix-dev/pixi, pull requests merged in 2024-09, with the labels that each got.

#1835 feat: add `global sync`
  Cargo.lock
  crates/pixi_manifest/src/channel.rs
  crates/pixi_manifest/src/features_ext.rs
  crates/pixi_manifest/src/lib.rs
  src/cli/global/common.rs
  src/cli/global/install.rs
  src/cli/global/list.rs
  src/cli/global/mod.rs
  src/cli/global/remove.rs
  src/cli/global/sync.rs
  src/cli/global/upgrade.rs
  src/cli/global/upgrade_all.rs
  src/global/common.rs
  src/global/install.rs
  src/global/mod.rs
  src/global/project/environment.rs
  src/global/project/error.rs
  src/global/project/manifest.rs
  src/global/project/mod.rs
  src/global/project/parsed_manifest.rs
  src/global/project/snapshots/pixi__global__project__parsed_manifest__tests__duplicate_dependency.snap
  src/global/project/snapshots/pixi__global__project__parsed_manifest__tests__duplicate_exposed.snap
  src/global/project/snapshots/pixi__global__project__parsed_manifest__tests__expose_pixi.snap
  src/global/project/snapshots/pixi__global__project__parsed_manifest__tests__invalid_key.snap
Labels: area:global

#2084 chore: improve error when protocol messages are invalid
  crates/pixi_build_frontend/src/protocols/pixi/protocol.rs
  examples/flask-hello-world-pyproject/pyproject.toml
  src/lock_file/resolve/conda.rs
Labels: area:build

#1975 feat: add migration path for new pixi global
  Cargo.lock
  Cargo.toml
  crates/pixi_manifest/src/channel.rs
  pixi.toml
  src/cli/global/sync.rs
  src/global/common.rs
  src/global/install.rs
  src/global/mod.rs
  src/global/project/environment.rs
  src/global/project/mod.rs
  src/global/project/parsed_manifest.rs
  tests/integration/common.py
  tests/integration/conftest.py
  tests/integration/test_global.py
  tests/integration/test_main_cli.py
Labels: area:global

#1980 feat(cli): add --no-activation option to prevent env activation during global install/upgrade
  docs/basic_usage.md
  docs/reference/cli.md
  src/cli/global/install.rs
  src/cli/global/upgrade.rs
  tests/integration/test_main_cli.py
Labels: area:global

#2124 fix: cleanup initial manifest creation
  crates/pixi_consts/src/consts.rs
  src/global/common.rs
  src/global/project/mod.rs
Labels: area:global

#2126 chore: allow for free ci usage
  .github/workflows/rust.yml
Labels: ci:free

#2117 feat: `pixi build` cli
  crates/pixi_build_types/src/procedures/conda_build.rs
  src/build/mod.rs
  src/cli/build.rs
  src/cli/mod.rs
Labels: area:build

#2130 feat: `fs_err` in `pixi global`
  Cargo.lock
  Cargo.toml
  src/global/common.rs
  src/global/install.rs
  src/global/project/manifest.rs
  src/global/project/mod.rs
Labels: area:global

#2127 feat: add a source metadata cache
  Cargo.lock
  Cargo.toml
  crates/pixi_build_frontend/src/protocols/conda_build/mod.rs
  crates/pixi_build_frontend/src/protocols/conda_build/protocol.rs
  crates/pixi_build_types/src/conda_package_metadata.rs
  crates/pixi_glob/src/glob_hash_cache.rs
  crates/pixi_record/Cargo.toml
  crates/pixi_record/src/source_record.rs
  pixi.lock
  pixi.toml
  src/build/mod.rs
  src/build/source_metadata_cache.rs
  src/lock_file/update.rs
Labels: area:build

#2128 docs: Update global manifest `install`
  docs/design_proposals/pixi_global_manifest.md
Labels: area:global

#2137 chore: add slow test config
  tests/pypi-tests.rs
Labels: ci:free

#2140 refactor: split package_from_conda_meta for easier reuse
  src/global/common.rs
  src/global/project/mod.rs
  src/global/test_data/conda-meta/non_conda_meta_data_file
  src/global/test_data/conda-meta/python-3.12.3-hab00c5b_0_cpython.json
Labels: area:global

#2110 feat: add `pixi global install`
  src/cli/global/expose.rs
  src/cli/global/install.rs
  src/cli/global/mod.rs
  src/cli/global/sync.rs
  src/global/common.rs
  src/global/install.rs
  src/global/mod.rs
  src/global/project/environment.rs
  src/global/project/manifest.rs
  src/global/project/mod.rs
  src/global/project/parsed_manifest.rs
  src/lib.rs
  src/lock_file/update.rs
  src/prefix.rs
  src/project/repodata.rs
  src/repodata.rs
  tests/integration/test_data/dummy_channel_1/output/linux-64/dummy-a-0.1.0-hb0f4dca_0.conda
  tests/integration/test_data/dummy_channel_1/output/linux-64/dummy-b-0.1.0-hb0f4dca_0.conda
  tests/integration/test_data/dummy_channel_1/output/linux-64/dummy-c-0.1.0-hb0f4dca_0.conda
  tests/integration/test_data/dummy_channel_1/output/linux-64/repodata.json
  tests/integration/test_data/dummy_channel_1/output/noarch/repodata.json
  tests/integration/test_data/dummy_channel_1/output/osx-64/dummy-a-0.1.0-h0dc7051_0.conda
  tests/integration/test_data/dummy_channel_1/output/osx-64/dummy-b-0.1.0-h0dc7051_0.conda
  tests/integration/test_data/dummy_channel_1/output/osx-64/dummy-c-0.1.0-h0dc7051_0.conda
  tests/integration/test_data/dummy_channel_1/output/osx-64/repodata.json
  tests/integration/test_data/dummy_channel_1/output/osx-arm64/dummy-a-0.1.0-h60d57d3_0.conda
  tests/integration/test_data/dummy_channel_1/output/osx-arm64/dummy-b-0.1.0-h60d57d3_0.conda
  tests/integration/test_data/dummy_channel_1/output/osx-arm64/dummy-c-0.1.0-h60d57d3_0.conda
  tests/integration/test_data/dummy_channel_1/output/osx-arm64/repodata.json
  tests/integration/test_data/dummy_channel_1/output/win-64/dummy-a-0.1.0-h9490d1a_0.conda
  tests/integration/test_data/dummy_channel_1/output/win-64/dummy-b-0.1.0-h9490d1a_0.conda
  tests/integration/test_data/dummy_channel_1/output/win-64/dummy-c-0.1.0-h9490d1a_0.conda
  tests/integration/test_data/dummy_channel_1/output/win-64/repodata.json
  tests/integration/test_data/dummy_channel_1/recipe.yaml
  tests/integration/test_data/dummy_channel_2/output/linux-64/dummy-x-0.1.0-hb0f4dca_0.conda
  tests/integration/test_data/dummy_channel_2/output/linux-64/repodata.json
  tests/integration/test_data/dummy_channel_2/output/noarch/repodata.json
  tests/integration/test_data/dummy_channel_2/output/osx-64/dummy-x-0.1.0-h0dc7051_0.conda
  tests/integration/test_data/dummy_channel_2/output/osx-64/repodata.json
  tests/integration/test_data/dummy_channel_2/output/osx-arm64/dummy-x-0.1.0-h60d57d3_0.conda
  tests/integration/test_data/dummy_channel_2/output/osx-arm64/repodata.json
  tests/integration/test_data/dummy_channel_2/output/win-64/dummy-x-0.1.0-h9490d1a_0.conda
  tests/integration/test_data/dummy_channel_2/output/win-64/repodata.json
  tests/integration/test_data/dummy_channel_2/recipe.yaml
  tests/integration/test_data/dummy_channel_a/README.md
  tests/integration/test_data/dummy_channel_a/output/linux-64/dummy-a-0.1.0-hb0f4dca_0.conda
  tests/integration/test_data/dummy_channel_a/output/linux-64/dummy-b-0.1.0-hb0f4dca_0.conda
  tests/integration/test_data/dummy_channel_a/output/linux-64/repodata.json
  tests/integration/test_data/dummy_channel_a/output/osx-64/dummy-a-0.1.0-h0dc7051_0.conda
  tests/integration/test_data/dummy_channel_a/output/osx-64/dummy-b-0.1.0-h0dc7051_0.conda
  tests/integration/test_data/dummy_channel_a/output/osx-64/repodata.json
  tests/integration/test_data/dummy_channel_a/output/osx-arm64/dummy-a-0.1.0-h60d57d3_0.conda
  tests/integration/test_data/dummy_channel_a/output/osx-arm64/dummy-b-0.1.0-h60d57d3_0.conda
  tests/integration/test_data/dummy_channel_a/output/osx-arm64/repodata.json
  tests/integration/test_data/dummy_channel_a/output/win-64/dummy-a-0.1.0-h9490d1a_0.conda
  tests/integration/test_data/dummy_channel_a/output/win-64/dummy-b-0.1.0-h9490d1a_0.conda
  tests/integration/test_data/dummy_channel_a/output/win-64/repodata.json
  tests/integration/test_data/dummy_channel_a/recipe.yaml
  tests/integration/test_data/update_channels.nu
  tests/integration/test_global.py
Labels: area:global

#2138 feat: pixi global list
  src/cli/global/list.rs
  src/global/common.rs
  src/global/install.rs
  src/global/mod.rs
  src/global/project/environment.rs
  src/global/project/mod.rs
  src/global/project/parsed_manifest.rs
  src/global/test_data/conda-meta/_r-mutex-1.0.1-anacondar_1.json
  tests/integration/conftest.py
  tests/integration/test_global.py
Labels: area:global
