Repository prefix-dev/pixi, pull requests merged in 2025-08, with the labels that each got.

#4243 fix: forward CTRL+C signal to `deno_task_shell`
  Cargo.lock
  Cargo.toml
  src/cli/run.rs
  src/lib.rs
  src/signals.rs
  tests/data/run_signals/pixi.lock
  tests/data/run_signals/pixi.toml
  tests/data/run_signals/test.py
  tests/integration_python/test_run_cli.py
Labels: bug, cli, area:run

#4247 feat: support pip packages for `no-build-isolation`
  docs/reference/pixi_manifest.md
  src/install_pypi/mod.rs
  src/install_pypi/plan/reasons.rs
  tests/integration_rust/install_tests.rs
Labels: enhancement, pypi, test:extra_slow

#4248 chore(docs): Added mkdocs-llmstxt plugin setup for documentation
  mkdocs.yml
  pixi.lock
  pixi.toml
Labels: documentation

#4269 chore: make none cached sharing tests extra slow
  tests/integration_python/test_edge_cases.py
  tests/integration_python/test_reinstall.py
Labels: testing

#3940 fix: Override environment variables based on priority
  CONTRIBUTING.md
  docs/reference/environment_variables.md
  docs/workspace/advanced_tasks.md
  src/activation.rs
  src/cli/run.rs
  src/task/executable_task.rs
  tests/data/channels/channels/dummy_channel_1/linux-64/dummy-a-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/linux-64/dummy-b-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/linux-64/dummy-c-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/linux-64/dummy-d-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/linux-64/dummy-f-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/linux-64/dummy-g-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/linux-64/dummy_e-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/linux-64/pixi-foobar-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/dummy_channel_1/linux-64/repodata.json
  tests/data/channels/channels/dummy_channel_1/noarch/repodata.json
  tests/data/channels/channels/dummy_channel_1/osx-64/dummy-a-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/dummy-b-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/dummy-c-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/dummy-d-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/dummy-f-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/dummy-g-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/dummy_e-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/pixi-foobar-0.1.0-h0dc7051_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-64/repodata.json
  tests/data/channels/channels/dummy_channel_1/osx-arm64/dummy-a-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/dummy-b-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/dummy-c-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/dummy-d-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/dummy-f-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/dummy-g-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/dummy_e-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/pixi-foobar-0.1.0-h60d57d3_0.conda
  tests/data/channels/channels/dummy_channel_1/osx-arm64/repodata.json
  tests/data/channels/channels/dummy_channel_1/win-64/dummy-a-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_channel_1/win-64/dummy-b-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_channel_1/win-64/dummy-c-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_channel_1/win-64/dummy-d-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_channel_1/win-64/dummy-f-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_channel_1/win-64/dummy-g-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_channel_1/win-64/dummy_e-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_channel_1/win-64/pixi-foobar-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/dummy_channel_1/win-64/repodata.json
  tests/data/channels/recipes/dummy_channel_1.yaml
  tests/integration_python/test_run_cli.py
Labels: bug, breaking, area:tasks

#4273 docs: add contributor docs for Python test snapshots
  CONTRIBUTING.md
Labels: documentation, DX

#4276 chore: add better logging for build backends
  crates/pixi_build_frontend/src/backend/json_rpc.rs
  crates/pixi_build_frontend/src/backend/mod.rs
  crates/pixi_build_frontend/src/tool.rs
  crates/pixi_build_types/src/lib.rs
  crates/pixi_command_dispatcher/src/build_backend_metadata/mod.rs
  crates/pixi_command_dispatcher/src/command_dispatcher/instantiate_backend.rs
  crates/pixi_command_dispatcher/src/instantiate_tool_env/mod.rs
  crates/pixi_command_dispatcher/src/solve_pixi/mod.rs
  crates/pixi_command_dispatcher/src/source_build/mod.rs
  crates/pixi_command_dispatcher/src/source_metadata/mod.rs
  crates/pixi_utils/src/reqwest.rs
Labels: cli, area:build

#4101 feat: add support for PIXI_ENVIRONMENT_NAME and PS1 prompt modification
  docs/reference/cli/pixi/exec.md
  src/cli/exec.rs
  tests/integration_python/common.py
  tests/integration_python/test_exec.py
Labels: enhancement, area:exec

#4165 feat: include named source dependencies through `pixi global`
  crates/pixi_build_discovery/src/discovery.rs
  crates/pixi_manifest/src/utils/package_map.rs
  docs/reference/cli/pixi/global/add.md
  docs/reference/cli/pixi/global/install.md
  src/cli/global/add.rs
  src/cli/global/global_specs.rs
  src/cli/global/install.rs
  src/cli/global/update.rs
  src/global/common.rs
  src/global/install.rs
  src/global/project/environment.rs
  src/global/project/global_spec.rs
  src/global/project/mod.rs
  src/global/project/parsed_manifest.rs
  tests/data/cpp_simple/CMakeLists.txt
  tests/data/cpp_simple/pixi.toml
  tests/data/cpp_simple/src/main.cc
  tests/data/pixi-build/multi-output/pixi.toml
  tests/data/pixi-build/multi-output/recipe/pixi.toml
  tests/data/pixi-build/multi-output/recipe/recipe.yaml
  tests/integration_python/conftest.py
  tests/integration_python/pixi_global/conftest.py
  tests/integration_python/pixi_global/test_completions.py
  tests/integration_python/pixi_global/test_global.py
  tests/integration_python/pixi_global/test_trampoline.py
Labels: enhancement, area:global

#4324 fix: update named arg schema
  docs/source_files/pixi_tomls/task_arguments_dependent.toml
  schema/examples/invalid/empty.toml
  schema/model.py
  schema/schema.json
Labels: bug, area:tasks

#4290 docs: pycharm integration via conda environments.txt file
  docs/integration/editor/jetbrains.md
Labels: documentation

#4359 refactor: remove manual conflicts check for `--frozen` & `--locked`
  src/cli/add.rs
  src/cli/cli_config.rs
  src/cli/install.rs
  src/cli/list.rs
  src/cli/mod.rs
  src/cli/reinstall.rs
  src/cli/remove.rs
  src/cli/run.rs
  src/cli/shell.rs
  src/cli/shell_hook.rs
  src/cli/tree.rs
  src/cli/upgrade.rs
  src/cli/workspace/export/conda_explicit_spec.rs
  tests/integration_rust/common/mod.rs
  tests/integration_rust/upgrade_tests.rs
Labels: refactor

#4322 chore: iron out cli flag usage
  crates/pixi_core/src/environment/mod.rs
  crates/pixi_core/src/lock_file/update.rs
  crates/pixi_core/src/workspace/workspace_mut.rs
  docs/reference/cli/pixi/add.md
  docs/reference/cli/pixi/import.md
  docs/reference/cli/pixi/list.md
  docs/reference/cli/pixi/lock.md
  docs/reference/cli/pixi/remove.md
  docs/reference/cli/pixi/run.md
  docs/reference/cli/pixi/shell-hook.md
  docs/reference/cli/pixi/shell.md
  docs/reference/cli/pixi/tree.md
  docs/reference/cli/pixi/upgrade.md
  docs/reference/cli/pixi/workspace/channel/add.md
  docs/reference/cli/pixi/workspace/channel/remove.md
  docs/reference/cli/pixi/workspace/export/conda-explicit-spec.md
  docs/workspace/environment.md
  src/cli/add.rs
  src/cli/cli_config.rs
  src/cli/completion.rs
  src/cli/import.rs
  src/cli/list.rs
  src/cli/lock.rs
  src/cli/remove.rs
  src/cli/run.rs
  src/cli/shell.rs
  src/cli/shell_hook.rs
  src/cli/snapshots/pixi__cli__completion__tests__nushell_completion.snap
  src/cli/tree.rs
  src/cli/upgrade.rs
  src/cli/workspace/channel/add.rs
  src/cli/workspace/channel/mod.rs
  src/cli/workspace/channel/remove.rs
  src/cli/workspace/export/conda_explicit_spec.rs
  tests/integration_python/common.py
  tests/integration_python/test_main_cli.py
  tests/integration_python/test_run_cli.py
  tests/integration_rust/add_tests.rs
  tests/integration_rust/common/builders.rs
  tests/integration_rust/common/mod.rs
  tests/integration_rust/install_tests.rs
  tests/integration_rust/solve_group_tests.rs
  tests/integration_rust/upgrade_tests.rs
Labels: breaking, cli

#4240 feat: build backend alternative source root
  .github/workflows/ci.yml
  Cargo.lock
  crates/pixi_build_discovery/Cargo.toml
  crates/pixi_build_discovery/src/discovery.rs
  crates/pixi_build_discovery/tests/discovery.rs
  crates/pixi_build_discovery/tests/snapshots/discovery__direct_recipe.snap
  crates/pixi_build_discovery/tests/snapshots/discovery__discovery@inherit__nested.snap
  crates/pixi_build_discovery/tests/snapshots/discovery__discovery@nested__nested.snap
  crates/pixi_build_discovery/tests/snapshots/discovery__discovery@nested_recipe_yml.snap
  crates/pixi_build_discovery/tests/snapshots/discovery__discovery@recipe_yaml.snap
  crates/pixi_build_discovery/tests/snapshots/discovery__discovery@recipe_yml.snap
  crates/pixi_build_discovery/tests/snapshots/discovery__discovery@simple.snap
  crates/pixi_build_frontend/src/backend/json_rpc.rs
  crates/pixi_build_types/src/procedures/initialize.rs
  crates/pixi_command_dispatcher/src/backend_source_build/mod.rs
  crates/pixi_command_dispatcher/src/command_dispatcher/instantiate_backend.rs
  crates/pixi_manifest/src/build_system.rs
  crates/pixi_manifest/src/toml/build_backend.rs
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__build_backend__test__additional_keys.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__build_backend__test__configuration_parsing.snap
  crates/pixi_spec/src/lib.rs
  crates/pixi_spec/src/path.rs
  crates/pixi_spec/src/snapshots/pixi_spec__toml__test__round_trip.snap
  crates/pixi_spec/src/toml.rs
  docs/reference/pixi_manifest.md
  schema/examples/valid/full.toml
  schema/model.py
  schema/schema.json
  tests/integration_rust/build_tests.rs
  tests/integration_rust/main.rs
Labels: enhancement, area:build

#4388 refactor: Move global into new pixi_global crate
  Cargo.lock
  Cargo.toml
  crates/pixi_cli/Cargo.toml
  crates/pixi_cli/src/global/add.rs
  crates/pixi_cli/src/global/edit.rs
  crates/pixi_cli/src/global/expose.rs
  crates/pixi_cli/src/global/global_specs.rs
  crates/pixi_cli/src/global/install.rs
  crates/pixi_cli/src/global/list.rs
  crates/pixi_cli/src/global/mod.rs
  crates/pixi_cli/src/global/remove.rs
  crates/pixi_cli/src/global/shortcut.rs
  crates/pixi_cli/src/global/sync.rs
  crates/pixi_cli/src/global/uninstall.rs
  crates/pixi_cli/src/global/update.rs
  crates/pixi_cli/src/info.rs
  crates/pixi_core/Cargo.toml
  crates/pixi_core/src/lib.rs
  crates/pixi_core/src/repodata.rs
  crates/pixi_global/Cargo.toml
  crates/pixi_global/src/common.rs
  crates/pixi_global/src/completions.rs
  crates/pixi_global/src/install.rs
  crates/pixi_global/src/lib.rs
  crates/pixi_global/src/list.rs
  crates/pixi_global/src/project/environment.rs
  crates/pixi_global/src/project/global_spec.rs
  crates/pixi_global/src/project/manifest.rs
  crates/pixi_global/src/project/mod.rs
  crates/pixi_global/src/project/parsed_manifest.rs
  crates/pixi_global/src/project/snapshots/pixi_global__project__manifest__tests__add_dependency.snap
  crates/pixi_global/src/project/snapshots/pixi_global__project__manifest__tests__remove_dependency.snap
  crates/pixi_global/src/project/snapshots/pixi_global__project__parsed_manifest__tests__duplicate_dependency.snap
  crates/pixi_global/src/project/snapshots/pixi_global__project__parsed_manifest__tests__duplicate_exposed.snap
  crates/pixi_global/src/project/snapshots/pixi_global__project__parsed_manifest__tests__expose_pixi.snap
  crates/pixi_global/src/project/snapshots/pixi_global__project__parsed_manifest__tests__invalid_key.snap
  crates/pixi_global/src/test_data/conda-meta/_r-mutex-1.0.1-anacondar_1.json
  crates/pixi_global/src/test_data/conda-meta/non_conda_meta_data_file
  crates/pixi_global/src/test_data/conda-meta/python-3.12.3-hab00c5b_0_cpython.json
  crates/pixi_global/src/test_data/lockfiles/ripgrep.lock
  crates/pixi_global/src/test_data/lockfiles/ripgrep_bat.lock
  crates/pixi_global/src/trampoline.rs
Labels: refactor

#4442 feat: add install-as-debug task
  pixi.toml
  scripts/install.py
Labels: DX

#4419 fix: load lock file with dependency override
  crates/pixi_core/src/lock_file/satisfiability/mod.rs
  tests/data/satisfiability/dependency_overides/pixi.lock
  tests/data/satisfiability/dependency_overides/pixi.toml
  tests/data/satisfiability/dependency_overides/projects/foo/pyproject.toml
Labels: bug

#4448 chore: try fixing extra-slow tests
  tests/integration_python/test_main_cli.py
Labels: test:extra_slow
