Repository prefix-dev/pixi, pull requests merged in 2025-10, with the labels that each got.

#4667 feat(pixi_api): Implement task support for WorkspaceContext
  crates/pixi_api/src/context.rs
  crates/pixi_api/src/lib.rs
  crates/pixi_api/src/workspace/init/mod.rs
  crates/pixi_api/src/workspace/mod.rs
  crates/pixi_api/src/workspace/reinstall/mod.rs
  crates/pixi_api/src/workspace/task/mod.rs
  crates/pixi_api/src/workspace/workspace/name.rs
  crates/pixi_cli/src/cli_interface.rs
  crates/pixi_cli/src/init.rs
  crates/pixi_cli/src/reinstall.rs
  crates/pixi_cli/src/task.rs
  crates/pixi_cli/src/workspace/name.rs
  crates/pixi_manifest/src/task.rs
Labels: Rust API

#4649 feat: unsafe-best-match for build as well
  crates/pixi/tests/integration_rust/pypi_tests.rs
  crates/pixi_install_pypi/src/lib.rs
Labels: test:extra_slow

#4676 feat(tasks): add task args to cache filename hash
  crates/pixi_task/src/task_hash.rs
  tests/integration_python/test_run_cli.py
Labels: enhancement, area:tasks
