Repository prefix-dev/pixi, pull requests merged in 2025-02, with the labels that each got.

#3029 feat: only instantiate conda prefix for pypi solve on request
  Cargo.lock
  Cargo.toml
  pixi.toml
  src/cli/shell.rs
  src/cli/shell_hook.rs
  src/conda_prefix_updater.rs
  src/lib.rs
  src/lock_file/mod.rs
  src/lock_file/resolve/build_dispatch.rs
  src/lock_file/resolve/mod.rs
  src/lock_file/resolve/pypi.rs
  src/lock_file/update.rs
  src/project/mod.rs
  src/task/executable_task.rs
  tests/data/pixi_tomls/two_envs_one_sdist.toml
  tests/integration_python/test_edge_cases.py
  tests/integration_rust/add_tests.rs
  tests/integration_rust/common/mod.rs
  tests/integration_rust/install_tests.rs
  tests/integration_rust/test_activation.rs
Labels: :fast_forward: performance, :snake: pypi, test:extra_slow

#3070 fix: pixi authentication
  Cargo.lock
  Cargo.toml
  crates/pixi_utils/src/reqwest.rs
  src/cli/mod.rs
  src/cli/project/export/conda_environment.rs
  tests/integration_python/test_main_cli.py
Labels: test:extra_slow

#3084 fix: getting records for wrong platform
  src/lock_file/resolve/pypi.rs
  src/lock_file/update.rs
  tests/integration_rust/common/builders.rs
  tests/integration_rust/common/mod.rs
  tests/integration_rust/install_tests.rs
Labels: test:extra_slow

#3111 fix: fixing passing a file as `--manifest-path`
  .gitignore
  Cargo.lock
  crates/pixi_build_frontend/Cargo.toml
  crates/pixi_build_frontend/tests/diagnostics.rs
  crates/pixi_build_frontend/tests/snapshots/diagnostics__invalid_manifest.snap
  crates/pixi_manifest/src/discovery.rs
  crates/pixi_manifest/src/manifests/document.rs
  crates/pixi_manifest/src/manifests/provenance.rs
  crates/pixi_manifest/src/pypi/snapshots/pixi_manifest__pypi__pypi_requirement__tests__deserialize_failing.snap
  crates/pixi_manifest/src/snapshots/pixi_manifest__discovery__test__workspace_discoverer@non-existing.snap
  crates/pixi_manifest/src/snapshots/pixi_manifest__discovery__test__workspace_discoverer@non-pixi-build_project.snap
  crates/pixi_manifest/src/utils/test_utils.rs
  src/workspace/discovery.rs
  src/workspace/mod.rs
Labels: test:extra_slow

#3113 test: cover more with downstream tests
  .github/workflows/ci.yml
Labels: test:extra_slow

#2825 feat: Add S3 backend support
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  crates/pixi_config/Cargo.toml
  crates/pixi_config/src/lib.rs
  crates/pixi_config/src/snapshots/pixi_config__tests__config_merge_multiple.snap
  crates/pixi_config/tests/config/config_1.toml
  crates/pixi_manifest/src/feature.rs
  crates/pixi_manifest/src/lib.rs
  crates/pixi_manifest/src/s3.rs
  crates/pixi_manifest/src/toml/mod.rs
  crates/pixi_manifest/src/toml/s3_options.rs
  crates/pixi_manifest/src/toml/workspace.rs
  crates/pixi_manifest/src/workspace.rs
  crates/pixi_utils/Cargo.toml
  crates/pixi_utils/src/reqwest.rs
  docs/advanced/authentication.md
  docs/reference/cli.md
  pixi.toml
  schema/model.py
  schema/schema.json
  src/cli/build.rs
  src/cli/exec.rs
  src/cli/init.rs
  src/cli/search.rs
  src/conda_prefix_updater.rs
  src/environment/conda_prefix.rs
  src/global/project/mod.rs
  src/lock_file/resolve/uv_resolution_context.rs
  src/lock_file/update.rs
  src/repodata.rs
  src/workspace/mod.rs
  src/workspace/repodata.rs
  tests/integration_rust/install_tests.rs
  tests/integration_rust/solve_group_tests.rs
Labels: test:extra_slow

#3139 fix: skip unneeded url parse and only add git+ when needed
  crates/pixi_git/src/url.rs
  crates/pixi_uv_conversions/src/requirements.rs
  src/lock_file/update.rs
  src/uv_reporter.rs
Labels: test:extra_slow

#3132 fix: allow usage of --branch --tag --rev for pypi with git
  crates/pixi_git/src/lib.rs
  crates/pixi_manifest/src/pypi/pypi_requirement.rs
  crates/pixi_record/src/pinned_source.rs
  docs/reference/cli.md
  docs/reference/pixi_manifest.md
  src/cli/cli_config.rs
  tests/integration_python/test_main_cli.py
Labels: :snake: pypi, test:extra_slow, :octocat: git

#2849 feat: validate machine using lockfile
  Cargo.lock
  crates/pixi_manifest/src/lib.rs
  crates/pixi_manifest/src/system_requirements.rs
  crates/pypi_modifiers/Cargo.toml
  crates/pypi_modifiers/src/pypi_tags.rs
  docs/source_files/pyproject_tomls/pytorch-conda-forge-envs.toml
  docs/source_files/pyproject_tomls/pytorch-conda-forge.toml
  docs/source_files/pyproject_tomls/pytorch-pypi-envs.toml
  pixi.toml
  src/cli/run.rs
  src/cli/shell.rs
  src/cli/task.rs
  src/lock_file/mod.rs
  src/lock_file/snapshots/pixi__lock_file__virtual_packages__test__virtual_package_not_found_error.snap
  src/lock_file/update.rs
  src/lock_file/virtual_packages.rs
  src/task/executable_task.rs
  src/task/task_environment.rs
  src/task/task_graph.rs
  src/workspace/virtual_packages.rs
  tests/data/channels/channels/virtual_packages/linux-64/cuda-0.1.0-hb0f4dca_0.conda
  tests/data/channels/channels/virtual_packages/linux-64/repodata.json
  tests/data/channels/channels/virtual_packages/noarch/no-deps-0.1.0-h4616a5c_0.conda
  tests/data/channels/channels/virtual_packages/noarch/noarch_package-0.1.0-h566b0d8_0.conda
  tests/data/channels/channels/virtual_packages/noarch/noarch_package-0.1.0-hf473fbf_0.conda
  tests/data/channels/channels/virtual_packages/noarch/repodata.json
  tests/data/channels/channels/virtual_packages/win-64/cuda-0.1.0-h9490d1a_0.conda
  tests/data/channels/channels/virtual_packages/win-64/repodata.json
  tests/data/channels/mappings.toml
  tests/data/channels/recipes/virtual_packages/variants.yaml
  tests/data/channels/recipes/virtual_packages/virtual_packages.yaml
  tests/data/lockfiles/cuda_virtual_dependency.lock
  tests/data/lockfiles/pypi-numpy.lock
  tests/integration_python/conftest.py
  tests/integration_python/test_docs_examples.py
  tests/integration_python/test_edge_cases.py
Labels: UX, test:extra_slow

#3216 feat: upgrade uv to 0.6.1
  Cargo.lock
  Cargo.toml
  crates/pixi_uv_conversions/Cargo.toml
  crates/pixi_uv_conversions/src/conversions.rs
  crates/pixi_uv_conversions/src/requirements.rs
  src/lock_file/satisfiability.rs
Labels: test:extra_slow

#3228 refactor: moving of types, renames and error updates
  src/install_pypi/mod.rs
  src/install_pypi/plan/mod.rs
  src/install_pypi/plan/models.rs
  src/install_pypi/plan/planner.rs
  src/install_pypi/plan/providers.rs
  src/install_pypi/plan/reasons.rs
  src/install_pypi/plan/test/harness.rs
  src/install_pypi/plan/validation.rs
  src/install_pypi/utils.rs
Labels: test:extra_slow

#3239 chore: upgrade Cargo dependencies
  Cargo.lock
  Cargo.toml
  crates/pixi_manifest/Cargo.toml
  crates/pixi_manifest/src/pypi/snapshots/pixi_manifest__pypi__pypi_requirement__tests__deserialize_failing.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__feature__test__mismatching_excluded_target_selector.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__feature__test__mismatching_target_selector.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__manifest__test__unused_features.snap
  src/lock_file/snapshots/pixi__lock_file__virtual_packages__test__virtual_package_not_found_error.snap
Labels: test:extra_slow
