Repository prefix-dev/pixi, pull requests merged in 2025-07, with the labels that each got.

#4117 test: update lockfile
  docs/source_files/pixi_workspaces/pixi_build/advanced_cpp/pixi.lock
  docs/source_files/pixi_workspaces/pixi_build/cpp/pixi.lock
  docs/source_files/pixi_workspaces/pixi_build/getting_started/pixi.lock
  docs/source_files/pixi_workspaces/pixi_build/python/pixi.lock
  docs/source_files/pixi_workspaces/pixi_build/workspace/pixi.lock
  docs/source_files/pixi_workspaces/pixi_build/workspace_variants/pixi.lock
Labels: test:extra_slow

#4156 feat: use command dispatcher for pixi build
  Cargo.lock
  Cargo.toml
  crates/pixi_command_dispatcher/src/backend_source_build/mod.rs
  crates/pixi_command_dispatcher/src/build/mod.rs
  crates/pixi_command_dispatcher/src/build/source_metadata_cache.rs
  crates/pixi_command_dispatcher/src/build/work_dir_key.rs
  crates/pixi_command_dispatcher/src/build_backend_metadata/mod.rs
  crates/pixi_command_dispatcher/src/cache_dirs.rs
  crates/pixi_command_dispatcher/src/command_dispatcher_processor/backend_build_source.rs
  crates/pixi_command_dispatcher/src/install_pixi/mod.rs
  crates/pixi_command_dispatcher/src/lib.rs
  crates/pixi_command_dispatcher/src/package_identifier.rs
  crates/pixi_command_dispatcher/src/source_build/mod.rs
  crates/pixi_command_dispatcher/tests/integration/event_tree.rs
  crates/pixi_record/src/pinned_source.rs
  docs/reference/cli/pixi/build.md
  src/build/mod.rs
  src/cli/build.rs
  src/cli/run.rs
  src/environment/conda_prefix.rs
  src/lib.rs
  src/lock_file/outdated.rs
  src/lock_file/update.rs
  src/reporters/download_verify_reporter.rs
  src/utils.rs
  src/variants.rs
  src/workspace/discovery.rs
  src/workspace/mod.rs
  src/workspace/workspace_mut.rs
  tests/integration_rust/install_tests.rs
Labels: test:extra_slow

#3948 feat: pypi-options.dependency-overrides
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__workspace__tests__pypi_options_default_feature.snap
  crates/pixi_manifest/src/manifests/snapshots/pixi_manifest__manifests__workspace__tests__pypy_options_project_and_default_feature.snap
  crates/pixi_manifest/src/pypi/pypi_options.rs
  crates/pixi_manifest/src/pypi/snapshots/pixi_manifest__pypi__pypi_options__tests__merge_pypi_options.snap
  crates/pixi_manifest/src/toml/pypi_options.rs
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__pypi_options__test__full.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__pypi_options__test__no_binary_packages.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__pypi_options__test__no_build_isolation_boolean.snap
  crates/pixi_manifest/src/toml/snapshots/pixi_manifest__toml__pypi_options__test__no_build_packages.snap
  crates/pixi_pypi_spec/src/name.rs
  docs/overrides/override.md
  mkdocs.yml
  schema/examples/valid/full.toml
  schema/model.py
  schema/schema.json
  src/lock_file/resolve/pypi.rs
  tests/data/lockfiles/dependency_overrides.lock
  tests/data/pixi_tomls/dependency_overrides.toml
  tests/integration_python/test_pypi_options.py
Labels: enhancement, pypi, configuration, test:extra_slow

#4168 feat: prevent pixi init to be executed in parent of pixi home directory
  Cargo.lock
  Cargo.toml
  src/cli/init.rs
  tests/integration_python/test_main_cli.py
Labels: enhancement, area:init

#4223 feat: add new configuration options for concurrency and experimental features
  crates/pixi_config/src/lib.rs
  docs/reference/cli/pixi/add.md
  docs/reference/cli/pixi/build.md
  docs/reference/cli/pixi/exec.md
  docs/reference/cli/pixi/global/add.md
  docs/reference/cli/pixi/global/expose/add.md
  docs/reference/cli/pixi/global/expose/remove.md
  docs/reference/cli/pixi/global/install.md
  docs/reference/cli/pixi/global/list.md
  docs/reference/cli/pixi/global/remove.md
  docs/reference/cli/pixi/global/shortcut/add.md
  docs/reference/cli/pixi/global/shortcut/remove.md
  docs/reference/cli/pixi/global/sync.md
  docs/reference/cli/pixi/global/uninstall.md
  docs/reference/cli/pixi/global/update.md
  docs/reference/cli/pixi/global/upgrade-all.md
  docs/reference/cli/pixi/import.md
  docs/reference/cli/pixi/install.md
  docs/reference/cli/pixi/reinstall.md
  docs/reference/cli/pixi/remove.md
  docs/reference/cli/pixi/run.md
  docs/reference/cli/pixi/shell-hook.md
  docs/reference/cli/pixi/shell.md
  docs/reference/cli/pixi/update.md
  docs/reference/cli/pixi/upgrade.md
  docs/reference/cli/pixi/workspace/channel/add.md
  docs/reference/cli/pixi/workspace/channel/remove.md
  docs/reference/cli/pixi/workspace/export/conda-explicit-spec.md
  tests/integration_python/test_main_cli.py
Labels: enhancement, configuration

#4200 fix: relative path to package for pixi global
  src/cli/global/global_specs.rs
  src/cli/global/install.rs
Labels: bug, area:global

#4148 feat(tasks): named args in `depends-on`
  crates/pixi_manifest/src/task.rs
  crates/pixi_manifest/src/toml/task.rs
  schema/model.py
  schema/schema.json
  src/task/task_graph.rs
  tests/integration_python/test_run_cli.py
Labels: enhancement, area:tasks

#4246 test: replace syrupy with inline-snapshot
  pixi.lock
  pixi.toml
  pyproject.toml
  tests/integration_python/__snapshots__/test_docs_examples.ambr
  tests/integration_python/__snapshots__/test_main_cli.ambr
  tests/integration_python/test_docs_examples.py
  tests/integration_python/test_main_cli.py
Labels: test:extra_slow, testing
