Repository prefix-dev/pixi, pull requests merged in 2025-09, with the labels that each got.

#4516 refactor: PyPI merge logic so that its more easy to extend
  crates/pixi_manifest/src/pypi/merge.rs
  crates/pixi_manifest/src/pypi/mod.rs
  crates/pixi_manifest/src/pypi/pypi_options.rs
  crates/pixi_manifest/src/utils/mod.rs
Labels: refactor, pypi

#4525 perf: early out on installer file not containing the pixi uv installer
  Cargo.lock
  crates/pixi_core/Cargo.toml
  crates/pixi_core/src/environment/pypi_prefix.rs
Labels: performance

#4513 feat(self-update): include version information in `self-update --dry-run`
  crates/pixi_cli/src/self_update.rs
Labels: enhancement, area:self-update

#4507 docs: add `pixi-build-ros` tutorial
  .gitignore
  docs/build/package_source.md
  docs/build/ros.md
  docs/source_files/pixi_workspaces/pixi_build/ros_ws/.gitattributes
  docs/source_files/pixi_workspaces/pixi_build/ros_ws/.gitignore
  docs/source_files/pixi_workspaces/pixi_build/ros_ws/pixi.lock
  docs/source_files/pixi_workspaces/pixi_build/ros_ws/pixi.toml
  docs/source_files/pixi_workspaces/pixi_build/ros_ws/src/my_cmake_ros_pkg/CMakeLists.txt
  docs/source_files/pixi_workspaces/pixi_build/ros_ws/src/my_cmake_ros_pkg/package.xml
  docs/source_files/pixi_workspaces/pixi_build/ros_ws/src/my_cmake_ros_pkg/pixi.toml
  docs/source_files/pixi_workspaces/pixi_build/ros_ws/src/my_cmake_ros_pkg/src/my_cmake_node.cpp
  docs/source_files/pixi_workspaces/pixi_build/ros_ws/src/my_python_ros_pkg/my_python_ros_pkg/__init__.py
  docs/source_files/pixi_workspaces/pixi_build/ros_ws/src/my_python_ros_pkg/my_python_ros_pkg/my_python_node.py
  docs/source_files/pixi_workspaces/pixi_build/ros_ws/src/my_python_ros_pkg/package.xml
  docs/source_files/pixi_workspaces/pixi_build/ros_ws/src/my_python_ros_pkg/pixi.toml
  docs/source_files/pixi_workspaces/pixi_build/ros_ws/src/my_python_ros_pkg/resource/my_python_ros_pkg
  docs/source_files/pixi_workspaces/pixi_build/ros_ws/src/my_python_ros_pkg/setup.cfg
  docs/source_files/pixi_workspaces/pixi_build/ros_ws/src/my_python_ros_pkg/setup.py
  mkdocs.yml
  tests/integration_python/test_docs_examples.py
Labels: documentation, area:build, test:extra_slow

#4555 chore(typing): add (based)pyright config
  .ruff.toml
  docs/docs_hooks.py
  examples/opencv/calibrate.py
  examples/opencv/webcam_capture.py
  examples/python-library-gcp-keyring/tests/test_hi.py
  examples/rerun_example/force_driven_lockfile_graph.py
  examples/solve-groups/test_imports.py
  examples/turtlesim/turtle_marker_viz_ROS2.py
  install/docs_hooks.py
  mypy.ini
  pixi.lock
  pixi.toml
  pyproject.toml
  schema/docs_hooks.py
  schema/model.py
  schema/schema.json
  schema/test_manifest.py
  scripts/local_patch.py
  scripts/pypi-proxy.py
  tests/data/pypi-indexes/generate-indexes.py
  tests/data/run_signals/test.py
  tests/integration_python/common.py
  tests/integration_python/pixi_global/test_global.py
  tests/integration_python/pixi_global/test_shortcuts.py
  tests/integration_python/pixi_global/test_trampoline.py
  tests/integration_python/test_docs_examples.py
  tests/integration_python/test_import.py
  tests/integration_python/test_main_cli.py
  tests/integration_python/test_pypi_options.py
  tests/scripts/run-all-examples.py
  tests/wheel_tests/__init__.py
  tests/wheel_tests/conftest.py
  tests/wheel_tests/generate_summaries.py
  tests/wheel_tests/helpers.py
  tests/wheel_tests/read_wheels.py
  tests/wheel_tests/record_results.py
  tests/wheel_tests/test_common_wheels.py
  tests/wheel_tests/test_read_wheels.py
Labels: DX

#4586 docs: `project` -> `workspace`, improve `first_workspace` page
  crates/pixi_cli/src/workspace/environment/mod.rs
  docs/advanced/shebang.md
  docs/deployment/authentication.md
  docs/first_project.md
  docs/first_workspace.md
  docs/getting_started.md
  docs/index.md
  docs/installation.md
  docs/integration/editor/jetbrains.md
  docs/integration/third_party/conda_deny.md
  docs/misc/FAQ.md
  docs/python/pyproject_toml.md
  docs/python/tutorial.md
  docs/reference/cli/pixi/workspace.md
  docs/reference/cli/pixi/workspace/environment.md
  docs/reference/pixi_configuration.md
  docs/reference/pixi_manifest.md
  docs/switching_from/conda.md
  docs/switching_from/poetry.md
  docs/tutorials/multi_environment.md
  docs/tutorials/ros2.md
  docs/tutorials/rust.md
  docs/workspace/advanced_tasks.md
  docs/workspace/environment.md
  docs/workspace/multi_platform_configuration.md
  examples/pixi-build/recursive-run-dependencies/README.md
  examples/wasm-jupyterlite/README.md
  mkdocs.yml
Labels: documentation

#4609 fix(init): obscure error when importing `environment.yml` with empty `pip:`
  crates/pixi_utils/src/conda_environment_file.rs
  tests/integration_python/common.py
  tests/integration_python/test_edge_cases.py
  tests/integration_python/test_init.py
  tests/integration_python/test_main_cli.py
  tests/integration_python/test_shell.py
Labels: bug, area:import, area:init

#4603 fix(pypi): optional dependencies break requirement conversion code
  Cargo.lock
  crates/pixi/tests/integration_rust/pypi_tests.rs
  crates/pixi_uv_conversions/Cargo.toml
  crates/pixi_uv_conversions/src/conversions.rs
  crates/pixi_uv_conversions/src/types.rs
Labels: bug, pypi, test:extra_slow

#4621 fix(import): handle `url::pkg` dependencies from conda env file
  crates/pixi_utils/src/conda_environment_file.rs
  crates/pixi_utils/src/snapshots/pixi_utils__conda_environment_file__tests__test_import_from_env_yaml.cockpit.yml.snap
  tests/integration_python/test_import.py
Labels: bug, area:import, area:init

#4012 ci: Add GHA workflow to calculate the OpenSSF scorecard.
  .github/workflows/scorecard.yml
Labels: security, CI

#4647 refactor(pixi_api): Drop StyledText abstraction, rename config to workspace
  Cargo.lock
  crates/pixi_api/Cargo.toml
  crates/pixi_api/src/context.rs
  crates/pixi_api/src/interface.rs
  crates/pixi_api/src/lib.rs
  crates/pixi_api/src/styled_text.rs
  crates/pixi_api/src/workspace/init/mod.rs
  crates/pixi_api/src/workspace/mod.rs
  crates/pixi_api/src/workspace/reinstall/mod.rs
  crates/pixi_api/src/workspace/workspace/mod.rs
  crates/pixi_api/src/workspace/workspace/name.rs
  crates/pixi_cli/src/cli_interface.rs
Labels: refactor, Rust API

#4601 docs(manifest): more simple introduction to manifest reference
  docs/reference/pixi_manifest.md
Labels: documentation

#4502 feat(global): direct `.conda` installation
  crates/pixi_cli/src/global/global_specs.rs
  crates/pixi_cli/src/global/install.rs
  crates/pixi_config/src/lib.rs
  crates/pixi_global/src/project/mod.rs
  docs/reference/cli/pixi/global/add.md
  docs/reference/cli/pixi/global/install.md
  pixi.toml
  tests/integration_python/pixi_global/test_global.py
Labels: enhancement, area:global

#4631 docs(import): add a tutorial on `pixi import` and `pixi init --import`
  docs/switching_from/conda.md
  docs/tutorials/import.md
  mkdocs.yml
Labels: documentation, area:import, area:init
